{% extends 'base.html.twig' %}

{% block title %}Hello ContacController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { ; padding: 2px 6px; }
    </style>
    <div class="container mb-5">
       <div class="row">
           <div class="col-xs-12 col-md-6">
               <img src="{{ asset('/assets/img/background-about.png') }}" width="500px"/>
           </div>
           <div class="col-xs-12 col-md-6 mt-5">
               <img src="{{ asset('/assets/img/iconfiguy.png') }}" width="100px"/>
               <h2>Qu'est ce que Figuy ?</h2>
               <p class="mt-3">Nous sommes une plateforme mettant à disposition des recettes saines et équilibrés de différents régimes alimentaire (Paléo, Végan
                   Végétarien, Végétalien, Sans gluten), afin que
                   quiconque désireux de faire attention à son alimentation puisse choisir une recette sans chercher la petite bête.
               </p>
               <p>Chacun à la possibilité de partager ses recettes favoris sur le site.</p>
           </div>
       </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-6" style="background:#eee; padding: 30px;">
                <div class="container">
                    <h2>Des recettes saines</h2>
                    <p class="mt-3">
                        Il existe de nombreux sites mettant à disposition une foisonnée de recette, sur Figuy seule les recettes saines sont acceptées.
                        Les recettes riches en mauvaises graisses, en sucres et autres ingrédients nocif ne seront pas acceptés. </p>
                    <p>Nous prônons les valeurs
                        d'une vie saine et cela commence par une bonne alimentation. C'est pourquoi nous insistons sur le fait que les recettes disponibles sur
                        Figuy se doivent de respecter les restrictions.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6" style="background-image: url({{ asset('/assets/img/2420.jpg') }}); background-position: center; height: 400px;">

            </div>
        </div>
    </div>

{% endblock %}
