{% extends 'base.html.twig' %}

{% block title %}RecipeLink - Accueil{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { ; padding: 2px 6px; }
    </style>
    <div class="jumbotron position-relative overflow-hidden text-center bg-light" style="background-image: url({{ asset ('/assets/img/2533.jpg') }});  background-repeat: no-repeat; background-size: cover;">
        <div class="col-md-6 p-lg-6 mx-auto my-6" style="padding-top:120px; padding-bottom:120px; line-height: 60px">
            <h1 class="display-4 font-weight-normal" >Que des recettes saines <span class="green"> avec des ingrédients sains </span></h1>
            <p class="lead font-weight-normal" style="margin-top:10px; margin-bottom:30px;">Une manière simple de partager vos recettes</p>
            <a class="btn btn-success btn-lg" href="{{ path('recipe_new')}}"><i class="fa fa-leaf"></i> Commencer</a>
        </div>
    </div>
    <section class="howWork text-center container-fluid" style="padding-top: 40px; padding-bottom: 40px; width: 80%;">
        <h4>Dernières recettes</h4>
        <div class="row text-center" style="margin-top:80px;">
                {% for recipe in recipes %}
                    {% include 'recipe/_recipe.html.twig' %}
                {% endfor %}
        </div>
    </section>
    <section class="block-regime" style="background-image: url({{ asset ('/assets/img/select-program-background.jpg') }});  background-repeat: no-repeat; background-size: cover;">
       <div class="container">
           <div class="row">
               <div class="col-6">
                   <figure style="margin-left:-140px;">
                       <img src="{{ asset('/assets/img/select-program-image.png') }}"/>
                   </figure>
               </div>
               <div class="col-6">
                   <h2>Quel régime suivez-vous ?</h2>
                   <button class="btn btn-success btn-block btn-outline-success"> Paléovore </button>
                   <button class="btn btn-success btn-block btn-outline-success"> Végétarien </button>
                   <button class="btn btn-success btn-block btn-outline-success"> Végétalien </button>
                   <button class="btn btn-success btn-block btn-outline-success"> Végan </button>
               </div>
           </div>
       </div>

    </section>
{% endblock %}
