{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { ; padding: 2px 6px; }
    </style>
    <div class="position-relative overflow-hidden text-center bg-light" style="background-image: url({{ asset ('/assets/img/2533.jpg') }})">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">RecipLink</h1>
            <p class="lead font-weight-normal">The first and easiest way to share your healthy recip with all the world</p>
            <a class="btn btn-outline-primary" href="#">let's get it ?</a>
        </div>
    </div>
    <div class="example-wrapper">

        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ '/Users/tomaccess/RecipLink/src/Controller/MainController.php'|file_link(0) }}">src/Controller/MainController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/Users/tomaccess/RecipLink/templates/main/index.html.twig'|file_link(0) }}">templates/main/index.html.twig</a></code></li>
        </ul>
    </div>
{% endblock %}
