<div class="jumbotron text-center">
    <h1>Inscription</h1>
</div>
<div class="container">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <button class="btn btn-primary">{{ button_label|default("S'inscrire") }}</button>
    </div>
    {{ form_end(form) }}
</div>