.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

textarea#recipe_description {
    min-height: 200px;
}


h1, p, a {
    font-family: 'Montserrat', sans-serif;
}

nav a {
    font-weight: 500;
}

label, legend {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 18px;
    font-weight: 500;
}

.site-header {
    background-color: #fff;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.site-header a {
    font-family: 'Open sans', sans-serif;
    color:#333333 !important;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}

.site-header a:hover {
    color:#77777ba !important;
}

.blue {
    color:#ed6464;
    font-weight: 500 !important;
}

.grey {
    color:#313131;
    font-weight: 500 !important;
}

.btn-primary {
    color: #fff;
    background-color: #5ea4f0;
    border-color: #5ea4f0;
}

.btn {
    border-radius: 0px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #a3ba6a;
    border-color: #a3ba6a;
}

.jumbotron.position-relative.overflow-hidden.text-center.bg-light {
    line-height: 3em;
}

.sub-title {
    font-size: 18px;
    font-style: italic;
}


span#cke_18, span#cke_20, span#cke_24, span#cke_29, span#cke_31 {
    display: none;
}
