.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

textarea#recipe_description {
    min-height: 200px;
}


h1, p, a {
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

.jumbotron h1 {
    font-size:50px;
    color:#000;
}

nav a {
    font-weight: 500;
}

label, legend {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 18px;
    font-weight: 500;
}

.site-header {
    background-color: #86d9ab;
}
.jumbotron h1 {
    letter-spacing: .05em;
}

.site-header a {
    font-size: 15px;
    text-transform: uppercase;
}
.site-header li {
    font-size: 15px;
    text-transform: uppercase;
}


.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.nav-link {
    letter-spacing: 1.2px;
    transition:0.5s;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.nav-link:hover {
    color: #6bd098 !important;
    transition:0.5s;
}

.navbar .btn i {
    font-size: 14px;
    position: relative;
    top: 0px !important;
}

.navbar .btn:hover i {
    color:#fff;
    font-size: 14px;
    position: relative;
    top: 0px !important;
}

.navbar i {
    color:#6bd098;
}

.blue {
    color:#ed6464;
    font-weight: 500 !important;
}

.green {
    color:#60ba62;
}

.grey {
    color:#313131;
    font-weight: 500 !important;

}.btn-primary {
     color: #fff;
     background-color: #60ba62;
     border-color: #60ba62;
     font-size: 18px;
     text-transform: capitalize;
     padding: 13px 2%;
}

.btn {
    border-radius: 0px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #f7ca18;
    border-color: #f7ca18;
}

.jumbotron.position-relative.overflow-hidden.text-center.bg-light {
    line-height: 3em;
}

.sub-title {
    font-size: 18px;
    font-style: italic;
}


span#cke_18, span#cke_20, span#cke_24, span#cke_29, span#cke_31 {
    display: none;
}

footer {
    background:#60ba62;
    color:#fff;
}

footer h5 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

.text-muted {
    color:#fff !important;
    font-size:13px;
    font-weight: 400;
    letter-spacing: 1.4px;
    line-height: 17px;
    transition:0.5s;
}

footer a:hover {
    padding-left:5px;
    text-decoration: none;
    transition:0.5s;
}

.copyright-text {
    font-family: 'Montserrat-Light',sans-serif;
    letter-spacing: .15em;
    font-size: 14px;
    color:#fff;
}

.bottom-footer {
    background: #4ea950;
    padding: 27px 0;
    line-height: 29px;
}

.card {
    margin-bottom: 70px !important;
}
.card-title {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.user {
    color: #fb4113;
    font-weight: 500;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    background: white;
    border-radius: 10%;
    padding: 2px;
}

.bottom-left {
    position: absolute;
    top: 255px;
    left: 16px;
}



.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    background: #0000008a;
    border-radius: 10%;
    padding: 2px;
}

.like {
    color: #fff;
}

.card img {
    max-width: 100%;
    border-radius: 12px 12px 0 0;
    height: 15vw !important;
    object-fit: cover;
}

.img-recipe {
    width: 100%;
    max-height: 20vw !important;
    object-fit:cover;
}

.block-regime h2 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    margin: 40px 0 35px;
}
.block-regime .btn[class*="btn-outline-"] {
    background:#fff !important;
    font-size: 15px;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 0;
}

.block-regime .btn[class*="btn-outline-"]:hover {
    background: #69cc95 !important;
    color: #fff;
}

.type_plat {
    background:#f5593d;
    color:#fff;
    width:50%;
}

.block-im-recipe {
    margin-top: -29px;
}

.more-info-recipe {
    padding:15px;
    background:#fff;
    border:1px solid rgb(219, 219, 219);
}

h1.images-title {

    margin-top: 0px;

}

.card-regime {
    color: #8bdaae;
    font-size: 17px;
}

.head-recip {
    background:#fbfbfbe8;
    margin-left:1px;
    margin-right:1px;
    border-radius:12px 12px 0 0;
    padding:15px 0;
}

.more-info-recipe {
    padding:15px 0 10px;
    background:#f8f9fa;
    border:1px solid rhb(219,219,219);
}

.explain-recip {
    background:#fff;
    border:1px solid #dbdbdb;
    padding:15px;
    border-top: 1px solid #fff !important;
}

.explain-recip h4 {
    color:#f5593d;
}

#recipe_foods .btn-just-icon.ml-1.btn.btn-danger {
    margin-left: 20px !important;
}

.formulaire h1 {
    color: #f5593d;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.custom-file-control:before{
    content: "Upload";
}
.custom-file-control:after{
    content: "Add files..";
}

.btn-just-icon.ml-1.btn.btn-danger.form-btn {
    margin-top: 35px;
}