<div class="row">
    <div class="col-4">
        {{ form_row(form.name) }}
    </div>
    <div class="col-4">
        {{ form_row(form.quantity) }}
    </div>
    <div class="col-2">
        {{ form_row(form.quantityUnity) }}
    </div>
</div>