<div class="row">
    <div class="col-xs-12 col-md-4">
        {{ form_row(form.name) }}
    </div>
    <div class="col-xs-12 col-md-4">
        {{ form_row(form.quantity) }}
    </div>
    <div class="col-xs-12 col-md-2">
        {{ form_row(form.quantityUnity) }}
    </div>
</div>
